<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500页面</title>
</head>
<style>
  .error {
    margin-top: 100px;
    width: 100%;
    height: 200px;
  }

  .error_content {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
  .error_text{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top:20px;
  }
</style>

<body>
  <div class="error">
    <div class="error_content">500 &nbsp;&nbsp;interval &nbsp;&nbsp;Sever &nbsp;&nbsp;Error</div>
    <div class="error_text">网络错误，请稍后再试</div>
  </div>
  <!--  <button id="btn" class="click">点击跳转到新的网页</button> -->
  <script>

  </script>

</body>

</html>